.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	width: 100%;
}


.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: .5rem;
	margin: 0 2em;
}
