
.content {
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

.column {
	height: 100% !important;
	align-self: center;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
.column:first-child {
	border-right: 2px dotted palette(grey, dark);
	padding-right: 1em;
}

.preview {	
	margin-left: 1em;
}