* {
	box-sizing: border-box;
}
body {
	background-color: $color-primary;
}
.card {	
	width:100%;
	height: 100vh;
	& .card__inner {
		background-color: $white;
		border: 1px solid palette(grey, light);
		margin: 2em;
		padding: 2em;
		min-height: calc(100vh - 4.2em);

		-webkit-box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);
		-moz-box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);
		box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);


	}
}