.notice {
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	width: auto !important;
	background: $text-default;
	color: $white;
	margin: .5rem;
	padding: 1rem;
	z-index:999;
	&.success {
		background: rgba($emerald, 1);
		color: $white;
	}
	&.error {
		background: rgba($sunglo, 1);
		color: $white;
	}
	&.warn {
		background: rgba($energy, 1);
		color: $white;
	}
	&.info {
		background: rgba($fountain-blue, 1);
		color: $white;
	}
}
.notice__icon {
	margin-right: .5rem;

}
.notice__message {
	font-size: .75rem;
	& p {
		margin: 0;
	}
	& pre {
		margin: 0;
	}
}


.alert {
	@extend .notice;
	left: 0;
	right: 0;
	bottom: 0;
}
.alert__icon {
	@extend .notice__icon;

}
.alert__message {
	@extend .notice__message;
}
.alert__action {
	font-size: .75rem;
	color: $energy;
	&::before {
		content: " | ";
		color: $white;
	}
}

