.dataTable {
	td {
		font-size: .75em;
	}
	th {
		font-size: .75em;
		padding: .25em;
	}
	tbody tr:hover {
		background-color: palette(grey, x-light);
	}
}

table {
	height: 80vh;
}

.price-column {
	text-align: right;
}

.image-url-column,
.category-column,
.number-column {
	text-align: center;
}
